<div role="main" class="main-container js-quickedit-main-content testcontents" bis_skin_checked="1">
  <div class="" bis_skin_checked="1">
            
            
                    <section>

                
            
  
                            <a id="main-content"></a>
  
          <div class="region region-content" bis_skin_checked="1">
  
<div class="container" bis_skin_checked="1">

  <div class="row" bis_skin_checked="1">
  


<article data-history-node-id="1786" class="band is-promoted default clearfix" aria-label="AQI Calculator">

<div class="band-style-general band-style-content" bis_skin_checked="1">
    <div class="band-title-row-light" bis_skin_checked="1">
  <div class="band-title-holder" bis_skin_checked="1">
           <h1 id="" class="band-title-light">AQI Calculator</h1>
        </div>
</div>

        <div class="band-card-row band-basic row" bis_skin_checked="1">
  <div class="col-sm-12 basic-content" bis_skin_checked="1">
<div id="aqi-calculator" class="col-xs-12 strip-padding" bis_skin_checked="1">
  <div class="col-xs-12" bis_skin_checked="1">
  </div>
<div class="col-sm-12" bis_skin_checked="1">
<p><script src="/sites/default/files/custom-js/aqi-conc.js"></script>
</p><div class="panel panel-default" bis_skin_checked="1">
<div class="panel-heading" bis_skin_checked="1">AQI Calculators</div>

<div class="panel-body" bis_skin_checked="1">
<ul>
<li><a href="/aqi/aqi-calculator">AQI to Concentration </a></li>
<li><a href="/aqi/aqi-calculator-concentration">Concentration to AQI</a></li>
</ul>
</div>
</div>

<h4 class="media-heading">AQI to Concentration Calculator</h4>

<p>DIRECTIONS: <em>Select a pollutant, then enter the AQI value.&nbsp;Click on “Calculate” to see the results.</em></p>

<p>&nbsp;</p>

<form id="aqi" name="form1">
<div class="form-group" bis_skin_checked="1"><em><label for="selectapollutnat">Select a Pollutant</label> <select class="form-control" id="selectapollutnat" name="pollutant" onchange="return PollutantUnit(this.form)"><option selected="selected" value="0"></option><option value="1">PM2.5 - Particulate &lt;2.5 microns (24hr avg)</option><option value="2">PM10 - Particulate &lt;10 microns (24hr avg)</option><option value="3">CO - Carbon Monoxide (8hr avg)</option><option value="4">SO2 - Sulfur Dioxide (1hr avg)</option><option value="5">SO2 - Sulfur Dioxide (24hr avg)</option><option value="6">O3 - Ozone (8hr avg)</option><option value="7">O3 - Ozone (1hr avg)</option><option value="8">NO2 - Nitrogen Dioxide (1hr avg)</option> </select></em></div>

<div class="form-group" bis_skin_checked="1"><em><label for="entertheaqi">Enter the AQI</label> <input class="form-control" id="entertheaqi" name="inputbox" type="text" style="text-align: center; background-color: white;"></em></div>

<div class="btn-group" bis_skin_checked="1"><button class="btn btn-primary" name="Calculate" onclick="return AQICalc(form1);" type="button" value="Calculate">Calculate</button><button class="btn btn-primary" name="reset" onclick="return ClearColorA()" type="reset" value="Reset">Reset</button></div>

<p>&nbsp;</p>

<div class="form-group" bis_skin_checked="1"><em><label for="concentration">Concentration</label> <input class="form-control" id="concentration" name="outputbox1" type="text" style="text-align: center;"></em></div>

<div class="form-group" bis_skin_checked="1"><em><label for="units">Units</label> <input class="form-control" id="units" name="messageunit" type="text" style="text-align: center;"></em></div>

<div class="form-group" bis_skin_checked="1"><em><label for="aqicategory">AQI Category </label> <input class="form-control" id="aqicategory" name="outputbox2" type="text" style="background-color: white; text-align: center; color: rgb(255, 255, 255);"></em></div>

<div class="form-group" bis_skin_checked="1"><em><label for="SensitiveGroups">Sensitive Groups</label><textarea class="form-control" id="SensitiveGroups" name="TextSensitive" rows="3" style="text-align: center;"></textarea></em></div>

<div class="form-group" bis_skin_checked="1"><em><label for="HealthEffectsStatements">Health Effects Statements</label><textarea class="form-control" id="HealthEffectsStatements" name="HealthEffects" rows="3" style="text-align: center;"></textarea></em></div>

<div class="form-group" bis_skin_checked="1"><em><label for="CautionaryStatements">Cautionary Statements</label><textarea class="form-control" id="CautionaryStatements" name="Cautionary" rows="3" style="text-align: center;"></textarea></em></div>
</form>

<p>&nbsp;</p>
<p></p>
</div>
      <div class="col-xs-12 strip-padding" bis_skin_checked="1">
  <hr class="content-hr strip-margin">
</div>
</div>
</div>

  </div>
  
</div>
</article>

</div>
</div>


</div>

      

    </section>

                  </div>
</div>